.controlPanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 60%;
}

.controlPanel {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border: 2px solid #f0f0f0;
    width: 100%;
    box-shadow: #878787 0px 0px 10px;
    padding: 2em;
    border-radius: 10px;
}

.controlPanelButton {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.saveButton {
    @extend .controlPanelButton;
    background-color: #4CAF50;
    color: white;

}

.saveButton:hover {
    background-color: #2c6a2f;
}

.clearButton {
    @extend .controlPanelButton;
    background-color: #f44336;
    color: white;
}

.clearButton:hover {
    background-color: #84241d;
}

.uploadButton {
    @extend .controlPanelButton;
    background-color: #008CBA;
    color: white;
}

.uploadButton:hover {
    background-color: #005f6b;
}