.imageContainer {
    position: relative;
    display: inline-block;
}

.imageComponent {
    /* position: relative; */
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
    cursor: crosshair;
    box-shadow: #706c6c 0px 0px 20px;
}

