.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5vh;
}